<!-- FILEPATH: /F:/Projex/Endavo/BNIL Face Recognition/poc/web-fr-opencv-indent/resources/views/login.html -->

<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <style>
    .auth-section-logo {
      background-color: #006480;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .auth-section-form {
      padding: 0;
      height: 100vh;
      display: flex;
      gap: 80px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .hidden {
      display: none !important;
    }
  </style>
  {{--
  <link rel="stylesheet" href="style.css"> --}}
</head>

<body>
  <div class="login-container">
    <form method="POST" action="/biometric-login" style="width: 50%;" id="form">
      {{ csrfField() }}
      <div class="form-input no-border" style="margin-bottom: 20px;">
        <input name="email" id="email" type="hidden" class="w-100" />
      </div>
    </form>
    <div class="modal fade" id="submittedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Verifikasi KTP</h5>
            <button type="button" class="btn-close hidden" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="validate_loading"
              style="display: flex; justify-content:center; flex-direction:column; align-items:center; gap:3px;">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>

              </div>
              <p>Sedang melakukan validasi...</p>
            </div>
            <div class="hidden" id="box_validated_face">
              <img id="validated_face" style="width:100%;" />
            </div>
          </div>
          <div class="modal-footer hidden" id="modal_footer">
            {{-- <button type="button" class="btn btn-secondary hidden" data-bs-dismiss="modal">Close</button> --}}
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-8">
      <div class="row">
        <div class="col-md-6 col-xs-12 container-form">
          <div class="auth-section-form">
            <div style="width: 100%; text-align: center" class="bni_logo">
              <h2 style="color:#F7931D; "> BNI LIFE LENS SYSTEM</h2>
              {{-- <img style="width: 250px" src="/trivia.png" alt="logo" /> --}}
              {{-- <img style="width: 250px; display: none" src="~/assets/icon/trivia_bc_meta.jpg" alt="logo" /> --}}
            </div>
            <div class="title" style="text-align: center">
              <h3 class="txt-30 txt-lh-45 title-std bold">
                Biometric Login User
              </h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="box" style="display:flex; flex-direction: column; justify-content:center;">
                  <div class="row">
                    <div class="col-md-12" id="box-video">
                      <video id="video" style="width:100%;" autoplay></video>
                    </div>
                    <div class="col-md-12 hidden" id="box-capture">
                      <img id="captured" style="width:100%;" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12"
                      style="display:flex; flex-direction: column; justify-content:center; align-items:center;">
                      <div class="action" style="margin-top:30px; display:flex; gap:10px;">
                        {{-- timer to capture --}}
                        <div class="timer-box" style="text-align: center;" id="timer_box">
                          <p>Focus to camera</p>
                          <p style="font-weight:20px; font-size:30px;" id="timer">5</p>
                        </div>
                        <div class="face-match-box hidden" style="text-align: center;" id="face_match_box">
                          <p style="font-weight:20px; font-size:30px;" id="face_match_result"></p>
                          <button class="hidden" id="reset_button" onclick="reset()"
                            style="background-color:#F15921; border:transparent; color:white; padding:10px 15px; width: 150px; border-radius:10px;">Coba
                            Lagi
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6 auth-section-logo d-none d-md-block">
          <div class="image-container">
            <img src="/login_cover_center.png" alt="xxx" />
          </div>
        </div>

      </div>
    </div>
  </div>
  <script>
    let captured = document.getElementById('captured');
    let timer = document.getElementById('timer');
    let form = document.getElementById('form');
    let email = document.getElementById('email');
    let timerBox = document.getElementById('timer_box');
    let titleSource = document.getElementById('title_source');
    let resetButton = document.getElementById('reset_button');
    let faceMatchResult = document.getElementById('face_match_result');
    let faceMatchBox = document.getElementById('face_match_box');
    let source = document.getElementById('source');
    let videoElement = document.getElementById('video');
    let boxCapture = document.getElementById('box-capture');
    let boxVideo = document.getElementById('box-video');
    let validatedFace = document.getElementById('validated_face');
    let boxValidatedFace = document.getElementById('box_validated_face');
    let validateLoading = document.getElementById('validate_loading');
    let modalFooter = document.getElementById('modal_footer');
    const galleryModal = new bootstrap.Modal(document.getElementById('submittedModal'), {
      keyboard: false,
      backdrop: 'static'
    });
    // const socket = io("http://127.0.0.1:8086", {
    //   transports: ["websocket"], // Use WebSocket transport
    //   withCredentials: true,
    // });
    const socket = io("lens.staging.endavolabs.com", {
      transports: ["polling"], // Use WebSocket transport
      withCredentials: true,
    });

    socket.on("biometricLoginResult", (response) => {
      if(response.success){
        email.value = response.result.email;
        form.submit();
        // validateLoading.classList.add('hidden');
        // boxValidatedFace.classList.remove('hidden');
        // validatedFace.src = result.validatedFace;
        // modalFooter.classList.remove('hidden');
      }
    });
    async function stream(){
      try {
        const captured = document.getElementById('captured');
        const liststream = await navigator.mediaDevices.enumerateDevices();
        const videoInput = liststream.filter((device) => {
          return device.kind == "videoinput" && device.deviceId == "default";
        })
        mediaStream = await navigator.mediaDevices.getUserMedia({ video: {deviceId: {exact: videoInput.deviceId}} })
        videoElement.srcObject = mediaStream;
        startTimer()
      } catch (error) {
        console.log(error)
      }

// videoElement.srcObject = mediaStream;
    }

    function startTimer(){

      let count = 5;
      let interval = setInterval(() => {
        count--;
        timer.innerHTML = count;
        if(count == 0){
          clearInterval(interval);
          timerBox.classList.add('hidden');
          capture();
        }
      }, 1000);
    }

    async function capture(){
      const empty = document.getElementById('empty');
      const track = mediaStream.getVideoTracks()[0];
      const imageCapture = new ImageCapture(track);
      capturedFrame = await imageCapture.takePhoto();
      captured.src = URL.createObjectURL(capturedFrame);
      boxCapture.classList.remove('hidden');
      boxVideo.classList.add('hidden');
      galleryModal.show();
      const blob = capturedFrame.slice(0, capturedFrame.size, 'image/png'); // Adjust the format if needed
      const capturedFile = new File([blob], 'captured_image.png', { type: 'image/png' });
      // const user_id = {{user_id}};
      socket.emit('biometricLogin', {capturedFile: capturedFile });
    }
    stream()
  </script>
</body>

</html>
