<!-- FILEPATH: /F:/Projex/Endavo/BNIL Face Recognition/poc/web-fr-opencv-indent/resources/views/login.html -->

<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <style>
    .auth-section-logo {
      background-color: #006480;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .auth-section-form {
      padding: 0;
      height: 100vh;
      display: flex;
      gap: 80px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .hidden {
      display: none !important;
    }

    .login-container {
      max-width: 1185px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    .container-form {
      margin-top: 20px;
    }
  </style>
  {{--
  <link rel="stylesheet" href="style.css"> --}}
</head>

<body>

  <div class="login-container">
    <div class="modal fade" id="submittedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Verifikasi KTP</h5>
            <button type="button" class="btn-close hidden" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="validate_loading"
              style="display: flex; justify-content:center; flex-direction:column; align-items:center; gap:3px;">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>

              </div>
              <p>Sedang melakukan pengecekan...</p>
            </div>
          </div>
          <div class="modal-footer hidden" id="modal_footer">
            {{-- <button type="button" class="btn btn-secondary hidden" data-bs-dismiss="modal">Close</button> --}}
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok!</button>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top:20px;margin-bottom:20px; ">
      <div style="background-color:#F15921; color:white; padding:20px 10px; border-radius:10px; display:flex; align-items:center; gap:10px;">
        {{-- BACK BUTTON --}}
        <div style="cursor:pointer;" onclick="window.location.href = '/menu'">
          <i class="bi bi-arrow-left"></i>
        </div>

        <p class="txt txt-16 txt-lh-18 txt-cl-turqoise bold mb-0" style="font-size:20px; font-weight:bold;">
          Buat pengguna baru
        </p>
      </div>
    </div>
    <div class="col-md-12 col-xs-8">
      <div class="row">
        <div class="col-md-12 col-xs-12 container-form">
          <div class="row" >
            <div class="col-md-4" style="padding: 0px 50px;" >
                <p><b>Contoh Benar</b></p>
                <div >
                  <img src="/kyc_template_2.jpg" style="max-width:100%;" />
                  <ul>
                    <li>KTP Asli</li>
                    <li>Tegak Lurus</li>
                    <li>Background Flat</li>
                    <li>Fokus</li>
                    <li>Kotor / Tidak Bersih</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-4" style="padding: 0px 50px;">
                <p><b>Contoh Salah</b></p>
                <div >
                  <img src="/wrong_template.jpeg" style="max-width:100%;" />
                  <ul>
                    <li>Selain KTP Asli</li>
                    <li>Tidak Tegak Lurus</li>
                    <li>Background tidak flat</li>
                    <li>Blur / Tidak Fokus</li>
                    <li>Kotor / Tidak Bersih</li>
                  </ul>
                </div>

            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-8" style="padding: 0px 50px;">
              <form method="POST" action="/create-user">
                {{ csrfField() }}
                <div class="action-box">
                  @if(data)
                  @if(data.success)
                  <div class="alert alert-success" role="alert">
                    Berhasil membuat akun!
                  </div>
                  @else
                  <div class="alert alert-danger" role="alert">
                    Gagal membuat akun!
                  </div>
                  @endif
                  @endif
                  <div class="form-input auth">
                    <label>Username</label>
                    <input name="username" type="text" class="w-100" v-model="form.agent_number" placeholder="XXX" />
                  </div>
                  <br />
                  <div class="form-input auth">
                    <label>Email</label>
                    <input name="email" type="email" class="w-100" v-model="form.agent_number" placeholder="XXX" />
                  </div>
                  <br />
                  <div class="form-input no-border" style="margin-bottom: 20px;">
                    <label>Password</label>
                    <input name="password" type="password" class="w-100" v-model="form.agent_number"
                      placeholder="XXX" />
                  </div>
                  <div class="form-input no-border" style="margin-bottom: 20px;">
                    <label>KTP</label>
                    <input name="kyc" id="kyc_input" type="file" class="w-100" onchange="validateKyc(event)" />
                  </div>
                  <div class="form-input no-border" style="margin-bottom: 20px;">
                    <input name="marked_kyc" id="marked_kyc" type="hidden" class="w-100" />
                  </div>
                  <div class="form-input no-border" style="margin-bottom: 20px;">
                    <input name="origin_kyc" id="origin_kyc" type="hidden" class="w-100" />
                  </div>
                  <button class="btn btn-primary w-100" type="submit">
                    Buat
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <p><b>KTP</b></p>
              <div id="box_placeholder">
                <img src="/ktp_placholder.png" id="empty" style="max-width:100%;" />
              </div>
              <div id="box_validate_face" class="hidden">
                <img id="validated_face" style="width:100%;" />
              </div>
              <br />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let mediaStream = null;
    let capturedFrame = null;
    let videoElement = document.getElementById('video');
    let kycInput = document.getElementById('kyc_input');
    let validatedFace = document.getElementById('validated_face');
    let boxValidatedFace = document.getElementById('box_validate_face');
    let boxPlaceholder = document.getElementById('box_placeholder');
    let validateLoading = document.getElementById('validate_loading');
    let modalFooter = document.getElementById('modal_footer');
    const galleryModal = new bootstrap.Modal(document.getElementById('submittedModal'), {
      keyboard: false,
      backdrop: 'static'
    });
    // const socket = io("http://127.0.0.1:8086", {
    //   transports: ["websocket"], // Use WebSocket transport
    //   withCredentials: true,
    // });
    const socket = io("lens.staging.endavolabs.com", {
      transports: ["polling"], // Use WebSocket transport
      withCredentials: true,
    });
    socket.on('validateKycResult', (data) => {
      console.log(data);
      if(data.success){
        validatedFace.src = "/" + data.result.image;
        // validatedFace.classList.remove('hidden');
        validateLoading.classList.add('hidden');
        boxPlaceholder.classList.add('hidden');
        boxValidatedFace.classList.remove('hidden');
        // modalFooter.classList.remove('hidden');
        document.getElementById('marked_kyc').value = data.result.descriptor;
        document.getElementById('origin_kyc').value = data.result.image;
        galleryModal.hide();
      } else {
        alert('KTP tidak valid');
        kycInput.value = '';
        galleryModal.hide();
      }
    })
    function validateKyc(file){
      galleryModal.show();
      socket.emit('validateKyc', file.target.files[0]);
      // socket.on('addFaceResult', (data) => {
      //   console.log(data);
      //   if(data.success){
      //     validatedFace.src = "/" + data.result;
      //     validateLoading.classList.add('hidden');
      //     boxValidatedFace.classList.remove('hidden');
      //     modalFooter.classList.remove('hidden');
      //   }
      // })
    }
  </script>
</body>

</html>
