<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <style>
    .menu-container {
      display: flex;
      justify-content: center;


    }

    .hidden {
      display: none !important;
    }

    .menu-container .menu {
      max-width: 1185px;
      width: 100%;
    }

    .box {
      background-color: #FFFFFF;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .box-title {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 0px;
    }

    .box-description {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #757373;
      margin-bottom: 0px;
    }
  </style>
</head>

<body>
  <div class="menu-container">
    <!-- <Navbar /> -->
    <div class="menu">
      <div style="margin-top:20px;margin-bottom:20px; ">
        <div style="background-color:#F15921; color:white; padding:20px 10px; border-radius:10px;">
          <p class="txt txt-16 txt-lh-18 txt-cl-turqoise bold mb-0" style="font-size:20px; font-weight:bold;">
            Pilih Menu
          </p>
        </div>
      </div>
      <div class="row " style="margin-bottom: 20px;">
        <div class="col-md-6">
          <p class="box-title">Selamat Datang {{auth.role == 'admin' ? 'Admin' : ''}} {{auth.username}} ({{auth.email}})
          </p>
        </div>
        <div class="col-md-6" style="text-align: end;">
          <p class="box-title"><a href="#" onclick="window.location.href = '/auth/logout'">Logout</a></p>
        </div>
      </div>
      <div class="row">
        @if(auth.role == 'user')
        <div class="col-md-3">
          <div class="box" onclick="window.location.href = '/menu/add-face'">
            <i class="bi bi-journal-plus"></i>
            <p class="box-title" style="margin-bottom: 10px; margin-top:10px;">Tambah Wajah</p>
            <p class="box-description">Tambah identitas pengenalan wajah</p>
          </div>
        </div>
        @endif

        <div class="col-md-3 hidden">
          <div class="box" onclick="window.location.href = '/menu/attendance'">
            <i class="bi bi-easel2"></i>
            <p class="box-title" style="margin-bottom: 10px; margin-top:10px;">Absensi</p>
            <p class="box-description">Absensi Kehadiran</p>
          </div>
        </div>

        @if(auth.role == 'admin')
        <div class="col-md-3">
          <div class="box" onclick="window.location.href = '/menu/create-user'">
           <i class="bi bi-person-add"></i>
            <p class="box-title" style="margin-bottom: 10px; margin-top:10px;">Tambah Pengguna</p>
            <p class="box-description">Tambah Akun Pengguna</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box" onclick="window.location.href = '/menu/users'">
            <i class="bi bi-person-bounding-box"></i>
            <p class="box-title" style="margin-bottom: 10px; margin-top:10px;">Data Pengguna</p>
            <p class="box-description">Daftar Data Pengguna</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box" onclick="window.location.href = '/menu/attendance-report'">
            <i class="bi bi-journal-bookmark"></i>
            <p class="box-title" style="margin-bottom: 10px; margin-top:10px;">Log Aktivitas</p>
            <p class="box-description">Log Aktivitas Pengguna</p>
          </div>
        </div>
        @endif
      </div>
    </div>
  </div>
</body>

</html>
